<h1>Petitions</h1>

<a href="<%= petitions_path %>">Popular</a> | <a href="<%= petitions_path %>?selected=recent">Recent</a> |
<a href="?selected=victories">Victories</a> <br>

<%= Petition.count %> petition(s) on total

<ul>
  <% @petitions.each do |petition| %>
    <li>
      <%= link_to petition.title, petition %>
    </li>
  <% end %>
</ul>
