<h2>Search</h2>

<%= form_tag do %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search", :onclick => "document.getElementById('petitions').innerHTML='';" %>
<% end %>

<ul>
  <div id="petitions">
  </div>
</ul>

<div id="next_link">
  <% if @pagy.next.present? && !params[:query].nil? %>
    <%= button_to "next", pagy_url_for(@pagy, @pagy.next), {class: "load_more"} %>
  <% end %>
</div>
