/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    color: rgb(54, 49, 53);
    line-height: 1.5;
    font-size: 16px;
    font-family: Change Calibre, "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
    margin: 0px;
}

.header_box {
    display: flex;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 960px;
    height: 57px;
}

.header_primary_box {
    display: flex;
    flex: 1 1 0%;
}

.header_logo_box {
    color: rgb(236, 44, 34) !important;
    font-size: 24px;
    font-weight: bold;
    margin-right: 40px;
}

.header_primary_items_box {
    display: flex;
}

.header_secondary_items_box {
    display: flex;
}

.header_item {
    margin-right: 25px;
    display: flex;
    align-items: center;
}

.header_link {
    height: 100%;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: inherit;
}

.header_link:hover {
    color: rgb(236, 44, 34);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header_image {
    width: 24px;
    height: 24px;
    border-radius: 10000rem !important;
    object-fit: cover;
}

footer {
    background-color: rgb(246, 244, 246);
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer_box {
    width: 960px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8rem;
    color: rgb(115, 114, 115);
}

.separator {
    margin-top: 0px;
    margin-bottom: 0px;
    border-style: none none solid;
    border-width: medium medium 1px;
    border-image: none 100% / 1 / 0 stretch;
    border-color: currentcolor currentcolor rgb(219, 217, 219);
}

.dropdown_menu {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 3000;
    right: 0px;
    min-width: 150px;
    max-width: 200px;
    padding: 15px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 217, 219);
    transition: border 0.3s ease 0s;
    border-radius: 0px 0px 5px 5px;
}

.dropdown_menu::before {
    top: -9px;
    position: absolute;
    border-style: solid;
    transition: border 0.3s ease 0s;
    content: "";
    border-width: 9px 7px 0px;
    border-color: rgb(219, 217, 219) transparent;
}

.dropdown_menu::after {
    top: -7px;
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: transparent;
    border-right-color: transparent;
    content: "";
    position: absolute;
    border-width: 9px 7px 0px;
    border-style: solid;
}

.dropdown_menu::before, .dropdown_menu::after {
    right: 0px;
    left: auto;
    bottom: auto;
    transform: rotate(180deg);
}

.dropdown_menu_header_link {
    margin-bottom: 10px;
}

.header_logout {
    color: rgb(236, 44, 34);
    text-decoration: underline;
}

.header_logout:hover {
    color: rgb(54, 49, 53);
}

.landing_page {
    background-image: url("https://static.change.org/home/illustration-world-map-2015-08-18.gif");
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position: 50% -130px;
}

.landing_page_content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.landing_page_title_section {
    padding-top: 90px;
    padding-bottom: 90px;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.big_title {
    font-size: 3.05176rem;
    line-height: 1.2288;
    text-align: center;
    margin: 10px;

}

.small_title {
    font-size: 1.25rem;
}

.button {
    background: rgb(236, 44, 34) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    border-color: rgb(236, 44, 34);
    text-decoration: none;
    transition: background 0.1s ease 0s, border 0.1s ease 0s;
    cursor: pointer;
    outline: currentcolor none 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 12px 18px;
    font-size: 1rem;
    line-height: 1;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    font-weight: bold;
}

.button_disabled {
    position: relative;
    background: rgb(219, 217, 219) none repeat scroll 0% 0%;
    color: rgb(173, 172, 173);
    filter: none;
    cursor: default;
    border-color: rgb(219, 217, 219);
    text-decoration: none;
    transition: background 0.1s ease 0s, border 0.1s ease 0s;
    margin-bottom: 25px;
    padding: 12px 18px;
    font-size: 1rem;
    line-height: 1;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    font-weight: bold;
}

.button:hover {
    color: #fff;
    background: #dc1d13;
    border-color: #dc1d13;
}

.petitions_title {
    font-size: 1.5625rem;
    padding: 30px 0px;
    margin: 0px;
    font-weight: bold;
    line-height: 1.2;
}

.petition_card {
    border-radius: 5px;
    border-color: rgb(219, 217, 219);
    border-style: solid;
    border-width: 1px;
    background-color: rgb(255, 255, 255);
}

.petition_card_content {
    color: inherit;
    padding: 20px;
    display: flex;
}

.petition_card_text_section {
    margin-right: 20px;
    height: 150px;
    overflow: hidden;
}

.petition_card_title {
    font-size: 1.25rem;
    margin: 0px;
    font-weight: bold;
    line-height: 1.2;
}

.petition_card_description {
    font-size: 0.8rem;
    margin: 15px 0px 0px 0px;
    line-break: anywhere;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.petition_card_image_section {
    flex: 0 0 138px;
    margin-left: auto;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    overflow: hidden;
    position: relative;
}

.petition_card_footer_section {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.petition_card_user_avatar {
    width: 28px;
    height: 28px;
    object-fit: cover;
    margin-right: 15px;
    border-width: 0px;
    border-radius: 10000rem;
    border-color: rgb(219, 217, 219);
    border-style: solid;
}

.petition_card_user_name {
    font-size: 0.8rem;
    font-weight: bold;
}

.petition_card_supporters_icon {
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    font-size: 0.875rem;
    color: rgb(236, 44, 34);
}

.petition_card_supporters {
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 0.8rem;
}

.load_more {
    margin: 15px 0px;
    color: rgb(54, 49, 53);
    font-weight: bold;
    line-height: 1;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(173, 172, 173);
    transition: background 0.1s ease 0s, border 0.1s ease 0s;
    cursor: pointer;
    outline: currentcolor none 0px;
    background-color: rgb(255, 255, 255);
    padding: 12px 18px;
    font-size: 1rem;
    width: 100%;
}

.load_more:hover {
    border-color: #737273;
}

a {
    color: inherit;
    text-decoration: none;
}

li:not(:first-child) {
    margin-top: 30px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;;
}

.browse_header_container {
    margin-top: 15px !important;
    margin-left: 16.66666667%;
    width: 66.66666667%;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.browse_title {
    margin: 0px;
    font-size: 1.24rem;
    font-weight: bold;
    line-height: 1.2;
}

.browse_menu {
    display: flex;
    line-height: 1.25;
}

.browse_menu .header_link {
    margin-right: 15px;
    padding: 8px 0px;
}

.browse_selected {
    display: block;
    padding: 8px 0px;
    text-decoration: none;
    color: rgb(236, 44, 34);
    border-bottom: 2px solid rgb(236, 44, 34);
    cursor: default;
    font-weight: bold;
    margin-bottom: -1px;
}

.row {
    margin-left: 16.66666667%;
    width: 66.66666667%;
    padding-left: 10px;
    padding-right: 10px;
}

.border_rounded {
    border-radius: 5px;
}

.bg_brighter {
    background-color: #fff !important;
}

::before {
    box-sizing: border-box;
}

::after {
    box-sizing: border-box;
}

.gradient-thermometer {
    text-align: left !important;
    height: 12px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 10000rem !important;
    background-color: rgb(219, 217, 219);
}

.gradient-thermometer-fill {
    background-image: linear-gradient(to right, rgb(255, 166, 0), rgb(236, 44, 34));
    border-radius: 0px !important;
}

h3 {
    font-size: 1.5625rem;
    line-height: 1.28;
    margin: 2.16em 0 .4em;
}

.text_input {
    width: 100%;
    font-size: 1rem;
    line-height: normal;
    padding: 10px;
    border: solid 1px #dbd9db;
    border-radius: 5px;
    color: #363135;
    -webkit-appearance: none;
    display: block;
    box-sizing: border-box;
}

.tabs_header_container {
    width: 960px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
}

.tabs_header_item {
    cursor: pointer;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
    border: 0px none;
    display: inline-block;
    margin: 3px 12px 0px 12px;;
    font-size: 1rem;
    line-height: 43px;
    position: relative;
}

.tabs_header_item:hover {
    color: rgb(236, 44, 34);
}

.tabs_header_selected {
    color: rgb(236, 44, 34);
    font-weight: bold;
    border-bottom: 2px solid rgb(236, 44, 34);
}

.box {
    position: relative;
    border-radius: 5px;
    border: 1px solid #dbd9db;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.petition_image {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    vertical-align: top;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

textarea {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: block;
    width: 100%;
    padding: 2px 2px 2px 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    appearance: none;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid rgb(112, 112, 112);
    color: inherit;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    border-radius: 8px;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
    height: 100px;
    min-height: 100px;
}

.victory_p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
    padding-left: 8px;
    padding-right: 8px;
    margin: 0px;
}

.victory_p::after {
    content: " ";
    position: absolute;
    left: 3px;
    top: 100%;
    z-index: 1;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 7px 6px 0px;
    border-color: transparent rgb(146, 38, 23) transparent transparent;
}

h1 {
    font-size: 2.44140625rem;
    line-height: 1.2288;
    margin: .3072em 0;
}

.tip {
    margin-bottom: 15px;
}

.tip_title {
    font-size: 1.25rem;
    margin-top: 20px;
    margin-bottom: 0;
}

.tip_description {
    font-size: 1.25rem;
    margin: 0;
}

.picture_button {
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    height: 48px;
    cursor: pointer;
    padding: 12px 16px;
    color: rgb(236, 44, 34);
    border-color: rgb(236, 44, 34);
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    background-color: #fff;
}

.picture_button:hover {
    background: rgb(236, 44, 34) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    outline: currentcolor none 0px;
    border-width: 4px;
}