/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    color: rgb(54, 49, 53);
    line-height: 1.5;
    font-size: 16px;
    font-family: Change Calibre, "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
    margin: 0px;
}

.header_box {
    display: flex;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 960px;
    height: 57px;
}

.header_primary_box {
    display: flex;
    flex: 1 1 0%;
}

.header_logo_box {
    color: rgb(236, 44, 34) !important;
    font-size: 24px;
    font-weight: bold;
    margin-right: 40px;
}

.header_primary_items_box {
    display: flex;
}

.header_secondary_items_box {
    display: flex;
}

.header_item {
    margin-right: 25px;
}

.header_link {
    height: 100%;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: inherit;
}

.header_link:hover {
    color: rgb(236, 44, 34);
}

footer {
    background-color: rgb(246, 244, 246);
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer_box {
    width: 960px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8rem;
    color: rgb(115, 114, 115);
}

.separator {
    margin-top: 0px;
    margin-bottom: 0px;
    border-style: none none solid;
    border-width: medium medium 1px;
    border-image: none 100% / 1 / 0 stretch;
    border-color: currentcolor currentcolor rgb(219, 217, 219);
}