/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    color: rgb(54, 49, 53);
    line-height: 1.5;
    font-size: 16px;
    font-family: Change Calibre, "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
    margin: 0px;
}

.header_box {
    display: flex;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 960px;
    height: 57px;
}

.header_primary_box {
    display: flex;
    flex: 1 1 0%;
}

.header_logo_box {
    color: rgb(236, 44, 34) !important;
    font-size: 24px;
    font-weight: bold;
    margin-right: 40px;
}

.header_primary_items_box {
    display: flex;
}

.header_secondary_items_box {
    display: flex;
}

.header_item {
    margin-right: 25px;
    display: flex;
    align-items: center;
}

.header_link {
    height: 100%;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: inherit;
}

.header_link:hover {
    color: rgb(236, 44, 34);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header_image {
    width: 24px;
    height: 24px;
    border-radius: 10000rem !important;
    object-fit: cover;
}

footer {
    background-color: rgb(246, 244, 246);
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer_box {
    width: 960px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8rem;
    color: rgb(115, 114, 115);
}

.separator {
    margin-top: 0px;
    margin-bottom: 0px;
    border-style: none none solid;
    border-width: medium medium 1px;
    border-image: none 100% / 1 / 0 stretch;
    border-color: currentcolor currentcolor rgb(219, 217, 219);
}

.dropdown_menu {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 3000;
    right: 0px;
    min-width: 150px;
    max-width: 200px;
    padding: 15px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 217, 219);
    transition: border 0.3s ease 0s;
    border-radius: 0px 0px 5px 5px;
}

.dropdown_menu::before {
    top: -9px;
    position: absolute;
    border-style: solid;
    transition: border 0.3s ease 0s;
    content: "";
    border-width: 9px 7px 0px;
    border-color: rgb(219, 217, 219) transparent;
}

.dropdown_menu::after {
    top: -7px;
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: transparent;
    border-right-color: transparent;
    content: "";
    position: absolute;
    border-width: 9px 7px 0px;
    border-style: solid;
}

.dropdown_menu::before, .dropdown_menu::after {
    right: 0px;
    left: auto;
    bottom: auto;
    transform: rotate(180deg);
}

.dropdown_menu_header_link {
    margin-bottom: 10px;
}

.header_logout {
    color: rgb(236, 44, 34);
    text-decoration: underline;
}

.header_logout:hover {
    color: rgb(54, 49, 53);
}

.landing_page {
    background-image: url("https://static.change.org/home/illustration-world-map-2015-08-18.gif");
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position: 50% -130px;
}

.landing_page_content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.landing_page_title_section {
    padding-top: 90px;
    padding-bottom: 90px;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.big_title {
    font-size: 3.05176rem;
    line-height: 1.2288;
    text-align: center;
    margin: 10px;

}

.small_title {
    font-size: 1.25rem;
}

.button {
    background: rgb(236, 44, 34) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    border-color: rgb(236, 44, 34);
    text-decoration: none;
    transition: background 0.1s ease 0s, border 0.1s ease 0s;
    cursor: pointer;
    outline: currentcolor none 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 12px 18px;
    font-size: 1rem;
    line-height: 1;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    font-weight: bold;
}

.petitions_title {
    font-size: 1.5625rem;
    padding: 30px 0px;
    margin: 0px;
    font-weight: bold;
    line-height: 1.2;
}

.petition_card {
    border-radius: 5px;
    border-color: rgb(219, 217, 219);
    border-style: solid;
    border-width: 1px;
    background-color: rgb(255, 255, 255);
}

.petition_card_content {
    color: inherit;
    padding: 20px;
    display: flex;
}

.petition_card_text_section {
    margin-right: 20px;
    height: 150px;
    overflow: hidden;
}

.petition_card_title {
    font-size: 1.25rem;
    margin: 0px;
    font-weight: bold;
    line-height: 1.2;
}

.petition_card_description {
    font-size: 0.8rem;
    margin: 15px 0px 0px 0px;
    line-break: anywhere;
}

.petition_card_image_section {
    flex: 0 0 138px;
    margin-left: auto;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    overflow: hidden;
    position: relative;
}

.petition_card_footer_section {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.petition_card_user_avatar {
    width: 28px;
    height: 28px;
    object-fit: cover;
    margin-right: 15px;
    border-width: 0px;
    border-radius: 10000rem;
    border-color: rgb(219, 217, 219);
    border-style: solid;
}

.petition_card_user_name {
    font-size: 0.8rem;
    font-weight: bold;
}

.petition_card_supporters_icon {
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    font-size: 0.875rem;
    color: rgb(236, 44, 34);
}

.petition_card_supporters {
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 0.8rem;
}

a {
    color: inherit;
    text-decoration: none;
}

li:not(:first-child) {
    margin-top: 30px;
}

ul {
    list-style-type: none;
}