<%- title "The World's Platform for Change・change-on-rails" %>

<div class="landing_page">
  <div class="landing_page_content">

    <div class="landing_page_title_section">
      <h1 class="big_title">The world’s platform for change</h1>
      <span class="small_title"><%= User.count %> people taking action victories every day.</span>
      <div>
        <a class="button" href="<%= new_petition_path %>">Start a petition</a>
      </div>
    </div>

    <div class="landing_page_petitions_section">
      <h2 class="petitions_title">What's happening on change-on-rails</h2>

      <ul id="landing_page_petitions_list" style="padding: 0px;">
        <% @petitions.each do |petition| %>
          <li><%= render petition %></li>
        <% end %>
      </ul>

      <div id="load_more">
        <% if @pagy.next.present? %>
          <%= button_to "Load more", pagy_url_for(@pagy, @pagy.next), class: "load_more" %>
        <% end %>
      </div>

    </div>

    <div class="imeYQL">
      <div class="imeYQL dot1"></div>
      <div class="imeYQL dot2"></div>
    </div>


  </div>
</div>