<%= turbo_stream.append "landing_page_petitions_list" do %>
  <% @petitions.each do |petition| %>
    <li><%= render petition %></li>
  <% end %>
<% end %>

<%= turbo_stream.update "load_more" do %>
  <% if @pagy.next.present? %>
    <%= button_to "Load more", pagy_url_for(@pagy, @pagy.next), {class: "load_more"} %>
  <% end %>
<% end %>