<hr class="separator"/>
<footer>
  <div class="footer_box">
    <strong>⛔ 2022, winterhazel</strong>
    <p>This site was made in order to learn Ruby on Rails and is not affiliated with Change.org.</p>
  </div>
</footer>